.Wrapper div {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	gap: 40px;
	align-items: center;
	justify-content: center;
	margin-top: 3vh;
	padding: 0px 5vw;
}

.Wrapper div h1 {
	width: 100%;
	text-align: center;
	text-decoration: underline;
}

.Wrapper a {
	width: calc(100% / 2 -20px);
}
.Wrapper img {
	width: 100%;
	max-width: 300px;
}
