/* index.module.css */
.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); /* Semi-transparent black background */
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalContent {
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
	overflow: auto; /* Enable scrolling if content exceeds modal size */
	background-color: var(--background);
	border-radius: var(--border-radius);
	border: 2px solid var(--border);
	min-width: 30vw;
}

.modalContent input {
	background-color: var(--background);
	color: var(--foreground);
	border: 1px solid var(--border);
	border-radius: var(--border-radius);
	padding: 0.7rem 1rem;
	width: 91%;
	margin-top: 1rem;
}

.modalContent button {
	margin-top: 1rem;
	background-color: var(--primary);
	color: var(--background);
	border: 1px solid var(--primary);
	border-radius: var(--border-radius);
	padding: 0.5rem 1rem;
}
