@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Karantina&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Karantina', system-ui; */

:root {
	--primary: #ffffff;
	--secondary: #d64a13;
	--background: #121212;
	--foreground: white;
	--accent: #19181885;
	--muted: #7e7e7ea9;
	--border-radius: 8px;
	--border: rgba(52, 52, 52, 0.758);
	--border-light: rgba(255, 255, 255, 0.2);
	--text-heading: 'Karantina', system-ui;
	--text-body: 'Josefin Sans', sans-serif;
	--danger: #c33333;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: var(--text-body);
	background-color: var(--background);
	color: var(--foreground);
}