.HomeWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.HeroWrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: calc(100vh - 4rem);
    align-items: center;
}

.heroText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 50;
    padding-bottom: 6rem;
    filter: drop-shadow(16px 24px 32px var(--hero));
}

.agniyathra {
    font-size: 7rem;
    font-weight: 800;
    background: -webkit-linear-gradient(#f0c3c3, var(--secondary));
	background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.techfest {
    font-size: 4rem;
    font-weight: 600;
	opacity: .8;
}

.flames {
	overflow: hidden;
}

@media screen and (max-width: 600px) {
	.heroText {
		padding: 1rem;
	}
	.agniyathra {
		font-size: 3rem;
	}
	.techfest {
		font-size: 2.3rem;
	}
}