.HomeWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.HeroWrapper {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: calc(100vh - 4rem);
    align-items: center;
	position: relative;
}

.heroText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 50;
    /* filter: drop-shadow(16px 24px 32px var(--hero)); */
}

.heroText span {
    font-size: 28vw;
	font-family: var(--text-heading);
    font-weight: 600;
}

.heroText b {
	font-size: 2.5rem;
	font-weight: 600;
	font-family: var(--text-heading);
	margin-bottom: 5px;
}

.heroText p {
	font-weight: 200;
	margin-top: -1px;
}

.marqueeContainer {
	width: 100%;
	overflow: hidden;
}

.heroBgLeft {
	position: absolute;
	left: 18vw;
	bottom: 0;
}

.heroBgRight {
	position: absolute;
	right: 18vw;
	top: 0;
}

@media screen and (max-width: 600px) {
	.HeroWrapper {
		min-height: 500px;
	}
	
}