.HomeWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.HeroWrapper {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: calc(100vh - 4rem);
    align-items: center;
}

.heroText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 50;
    padding-top: 2rem;
    padding-bottom: 6rem;
    filter: drop-shadow(16px 24px 32px var(--hero));
}

.heroText span {
    font-size: 1.2rem;
    font-weight: 600;
}

.heroText p {
    font-size: 1rem;
    margin: 0;
    margin-top: 0.2rem;
    text-transform: lowercase;
}

.marqueeContainer {
	width: 100%;
	overflow: hidden;
}